.DS_Store
.virtual_documents
.dvc/
*.egg-info/
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Data
data/
*.csv
*.tsv
*.xlsx
*.png
*.jpg
*.jpeg
*.npz

# Results
eval_results*/
error_analysis/
checkpoints/
